.deposit {
  padding: 25px;
}

.deposit .boxSection {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px grey;
  border-radius: 15px;
}

.deposit .boxSection .heading {
  color: grey;
  padding: 20px 25px;
}

.deposit .boxSection hr {
  border: 1px solid #dedede;
  margin: 0;
}

.deposit .boxSection .body {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.deposit .boxSection .body .element {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.deposit .boxSection .body .element input {
  border-radius: 5px;
  height: 1.1876em;
  box-sizing: content-box;
  padding: 11px 0px !important;
}

.deposit
  .boxSection
  .body
  .element
  .MuiOutlinedInput-root
  fieldset
  legend
  span {
  display: none;
}

.filter-submit {
  padding-top: 25px;
}

.main-heading {
  font-weight: 700 !important;
  width: 100% !important;
  margin-bottom: 1.5rem !important;
  font-size: 1.7rem;
  line-height: 1.2;
  font-family: cairo, sans-serif;
}

.status-text-approved {
  color: #18c1a7;
  font-weight: 500;
}

.status-text-rejected {
  color: #f9326f;
  font-weight: 500;
}

.status-text-pending {
  color: #cfcf58;
  font-weight: 600;
}
.deposit-upload-image-preview {
  width: 70px;
  height: 70px;
}
.dialogMultipleActionButton .btn-danger {
  color: #fff !important;
}
.deposit-action-popup-text {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.react-confirm-alert {
  width: 450px;
  box-shadow: 0 0 24px grey;
  padding: 20px;
  border-radius: 15px;
}
.react-confirm-alert .confirmation-alert-action-button {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.react-confirm-alert .confirmation-alert-action-button .btn-danger {
  color: #fff !important;
}
.width-150px {
  width: 150px;
}
